* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 800 */
  font-family: "Sora", sans-serif;
}
